ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    border-radius: 5px;
    padding: 1em;
}

a:hover {
    color: white;
    background-color: #495E57;
}